.formContainers {
    display: flex;
    flex-direction: column;
}

.registerFormInputs {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.inputsLeft {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column

}

.inputsRight {
    width: 50%;
}

.labelsWithInputs {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.labels {
    font-size: 30px;
}

.genderContainer {
    display: flex;
    justify-content: space-around;
}

.maleMargin {
    margin-left: 40px;
}

/*

.DateOfBirthBox {
    display: flex;
    justify-content: space-between;
}

.birthdaySelects {
    display:flex;
    justify-content: flex-start;
}

.Dob {
    height: 30px;
    width: 100%;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    font-size: 80%; 
}

.DobDayBox {
    margin-right: 8px;
}

.DobDayMonth {
    margin-right: 8px;
}

.checkboxAndSubmitButton {
    border: 2px solid black;
}
*/