@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.formContainers {
    display: flex;
    flex-direction: column;
}

.registerFormInputs {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.inputsLeft {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column; 
    padding-left: 30px;
}

.inputsRight {
    width: 50%;
}

.dataContainers {
    margin-top: 1rem;
}

.labels {
    display: block;
    font-size: 30px;
    color: #393E46;
    font-family: 'Roboto Condensed', sans-serif;
}

.firsLastNameInput {
    height: 1.5rem;
    width: 20rem;
}

.optionalRadioBoxes {
    display: flex;
    justify-content: flex-start;
}

.maleRadioButton{
    margin-right: 20px;
}

.maleFemaleText {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #393E46;
}

.birthdaySelects {
    display:flex;
    justify-content: flex-start;
}

.dobSelects {
    height: 30px;
    width: 150%;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    font-size: 80%; 
    outline: none;
}

.dobDayBox {
    margin-right: 30px;
}

.dobDayMonth {
    margin-right: 50px;
}




