*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    width: 70%;
    min-width: 26rem;
    padding: 1rem 2rem;
    transform: translate(-50%, -40%);
    position: absolute;
    left: 50%; 
    top: 50%;
    border-radius: 0.7rem;
    opacity: 0.8;
    background-color: #D8D8D8;
}

h1 {
    font-size: 30px;
    text-align:center;
}

p {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
}


form {
    width: 100%;
    position: relative;
    margin: 2rem auto 0 auto;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label {  
    font-size: 1.3rem;
}

span {
    display: block;
    overflow: hidden;
    padding: 0rem 2rem 0rem 0rem;
}

input,
textarea,
select
{
    border: none;
    border-width: 0 0 2px;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}

select {
    margin-right: 2.5rem;
    height: 2rem;
    outline: none;
    width: 100%;
}

textarea {
    resize: none;
}

.gender-label-container {
    margin-bottom: 0.5rem;
}

.radio-buttons {
    display: flex;
    justify-content: flex-start;
}

.male-female-label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.all-birthday-container {
    display: flex;
    justify-content: flex-start;
}

.day-of-birth-container,
.month-of-birth-container {
    margin-right: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    padding: 10px 20px; 
    border-radius: 3px;
}




