@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    min-width: 26rem;
    border-radius: 0.7rem;
    padding: 2rem 2rem;
    position: absolute;
    transform: translate(-50%, -40%);
    left: 50%; 
    top: 50%;
    opacity: 0.9;
    background-color: #CFD2CF;
}

h1 {
    text-align:center;
    font-size: 2rem;
    font-weight: 700;
    color: #383838;
    font-family: 'Raleway', sans-serif;
}

p {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    font-weight: 700;
    color: #383838;
    font-family: 'Raleway', sans-serif;
}


form {
    width: 100%;
    position: relative;
    margin: 2rem auto 0 auto;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
}

span {
    display: block;
    overflow: hidden;
    padding: 0rem 2rem 0rem 0rem;
}

.labels {
    font-weight: 700;
    color: #383838;
    font-family: 'Raleway', sans-serif;
}

input,
textarea,
select
{
    width: 100%;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    border-width: 0 0 0 0;
    padding: 0.5rem 0.7rem;
    outline: none;
    font-size: 1rem;
}

.inputField {
    border-color: purple;
}

select {
    height: 2.2rem;
    width: 100%;
    margin-right: 2.5rem;
    outline: none;
}

textarea {
    resize: none;
}

.gender-label-container {
    margin-bottom: 0.5rem;
}

.radio-buttons {
    display: flex;
    justify-content: flex-start;
}

.male-female-label {
    margin-right:15px;
    text-align: right;
    clear: both;
    float:left;
    font-weight: 600;
    color: #383838;
}

.all-birthday-container {
    display: flex;
    justify-content: flex-start;
}

.day-of-birth-container,
.month-of-birth-container {
    margin-right: 1rem;
}


.button-container {
    display: flex;
    justify-content: center;
}

.registration-button {
    height: 3rem;
    min-width: 20%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; 
    font-size: 1.5rem;
    font-weight: 600;
    color: #383838;
    font-family: 'Raleway', sans-serif;
}

/*
.invalid {
    border-color: red;
}
*/

.error-text {
    margin-top: 0.3rem;
    text-align: left;
    color: #EB1D36;
    font-family: 'Raleway', sans-serif;
}




